@charset "utf-8";
html {height:100%;}
body{position:relative;min-width:1200px;height:100%;overflow:hidden;margin:0;padding:0;background:#282a32;color:#0c0c0c;font-family:Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;font-weight:400;font-size: 12px;-webkit-font-smoothing:antialiased}
ol, ul { list-style: none;margin:0;padding:0;}
* {box-sizing: border-box;}
input {outline: none; border: none}
input::-webkit-input-placeholder { /* WebKit browsers */color:#999;}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color:#999;}
input::-moz-placeholder { /* Mozilla Firefox 19+ */color:#999;}
input:-ms-input-placeholder { /* Internet Explorer 10+ */color:#999;}
a {text-decoration:none;outline:none;color:#20a0ff;}
.el-menu-item [class^=fa],.el-submenu [class^=fa]{vertical-align:baseline;margin-right:10px}
.fade-enter-active,.fade-leave-active{transition:opacity .5s}
.fade-enter,.fade-leave-active{opacity:0}

.panel-top{min-width:1200px;width:100%;height:60px;line-height:60px;background:#353943;color:#ffffff;position:fixed;top:0;z-index:10;}
.panel-top .logo{margin:14px 5px 0 8px; height:42px;}
.panel .logout { font-size:14px; padding-right:20px;  }
.panel .logout a { color:#c0ccda; text-decoration:none;  margin-left:10px;cursor: pointer;}
.panel-menu{width:200px; position: fixed !important;z-index: 10;top:60px;left:0;overflow: hidden;color:#fff;
    li {height: 44px;line-height: 44px;text-indent: 20px;cursor:pointer;font-size:14px;
        &:hover {background: #0486fe;}
        &.router-link-active {background: #0486fe;}
    }
}
.panel-center{padding:30px;background:#f6f8fb;position:absolute;right:0;top:60px;bottom:0;left:200px;overflow-y:auto;}
.innerbox {
    background: #fff;padding: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.04)
}
.menu-title {margin-bottom: 20px;color: #33363c;font-size: 18px;line-height:28px;font-weight: 600;}
.tip-logout{float:right;margin-right:20px;padding-top:5px}
.tip-logout i{cursor:pointer}
.admin{color:#c0ccda;text-align:center}
.pull-left{float:left}
.pull-right{float:right}
.clearfix::after {content: '';display: block; clear:both;height:0;overflow: hidden;}
.el-pagination {text-align: right;margin-top:20px;}
.el-input__inner {line-height: 36px; height: 36px;}
.el-dialog__title {font-weight: bolder; font-size: 16px;color: #393c42;line-height:26px;}

.el-dialog__body {padding: 0px 20px 30px;color: #404143;font-size: 12px;padding:0px 30px 40px;}
.el-dialog__header {padding:30px 30px 10px;}
.el-textarea__inner {height: 120px;}
.export-package .el-textarea__inner {height: 130px}

.el-button--primary {
    color: #fff;
    background-color: #0486fe;
    border-color: #0486fe;
}
.el-button--primary:focus {
    color: #fff;
    background-color: #0486fe;
    border-color: #0486fe;
}

.el-button--default:focus {
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
}

.button-mini {
    padding: 0 20px;
    font-size:12px;
    line-height: 30px;
    margin: 0;
}
.button-max {
    padding: 0 20px;
    font-size:12px;
    line-height: 34px;
    margin: 0;
}
.user {
    .el-table {
        font-size:12px;
        &::before {
            content: none;
        }
        border: none;
        .table-header th {
            color: #96989e;
        }
        tr{
            color: #606266;
            border: none;
            line-height: 45px;
            th {
                border: none;
                height: 36px;
                background-color: #f0f2f6;
                padding: 0;
                font-weight: normal;
            }
            th.is-leaf {
                border: none;
            }
            td {
                padding: 0;
                line-height: 36px;
            }
        }
        .cell {
            padding: 0 20px;
            line-height: 45px;
        }
    }
}
.selected {
    .el-table {
        font-size:12px;
        &::before {
            content: none;
        }
        border: none;
        .table-header th {
            color: #96989e;
        }
        tr{
            color: #606266;
            border: none;
            th {
                border: none;
                background-color: #f0f2f6;
                padding: 0;
                font-weight: normal;
            }
            th.is-leaf {
                border: none;
            }
            td {
                padding: 0;
            }
        }
        .cell {
            line-height: 48px;
            padding: 0 0 0 20px;
        }
    }
    .el-input__inner {line-height: 40px; height: 40px;}
    .add-dialog {
        .el-input__inner {line-height: 38px; height: 38px;}
    }
    .el-pagination .el-select .el-input .el-input__inner  {line-height: 28px;height: 28px;}
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-t-10 {
    margin-top: 10px;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-a {
    display: flex;
    justify-content: space-around;
}
.flex-b {
    display: flex;
    justify-content: space-between;
}
.flex-b-c {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.flex-a-c {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}
.flex-c-c {
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.title_1 {
    font-size: 14px;
    line-height:24px;
    font-weight: bolder;
    color: #33363c;
}
.tags-filter .swiper-pagination-bullet {
    width: 18px;
    height: 4px;
    display: inline-block;
    border-radius: 4px;
    background: #D1ECFF;
    opacity: 0.2;
}

.tags-filter .swiper-pagination-bullet-active {
    opacity: 1;
    background: #63BCFF;
}


